html, body{margin: 0; height: 100%;}
body{color: #8b8b8b;}
.container a{text-decoration: none; color: #8b8b8b;}
.content-holder{background: #eef3f5; height: 100%; padding: 0;}

.padding10{padding: 10px;}
.clear{clear: both;}

/*BUTTONS*/
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none;}
.color-warning{color: #c7282a!important}

.btn-default-custom,
.btn-default-custom.active,
.btn-default-custom:focus{
    color: #44afd5;
    background-color: #e8e8e8;
    border: 0;
    font-size: 14px;
    border-bottom: 3px solid #dfdfdf;
    padding: 6px 20px;}

.btn-default-custom:hover,
.btn-default-custom:active, 
.open > .dropdown-toggle.btn-default-custom {
    color: #fff;
    background-color: #44afd5;
    border: 0;
    font-size: 14px;
    border-bottom: 3px solid #319ab2;
    padding: 6px 20px;}

.btn-default-custom:active{
    border: 0;
    position: relative; top: 3px; 
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;}


.btn-warning-custom,
.btn-warning-custom:focus,
.btn-warning-custom.active {
    color: #c7282a;
    background-color: #e8e8e8;
    border: 0;
    font-size: 14px;
    border-bottom: 3px solid #dfdfdf;
    padding: 6px 20px;}

.btn-warning-custom:hover,
.btn-warning-custom:active,
.open > .dropdown-toggle.btn-warning-custom {
    color: #fff;
    background-color: #c7282a;
    border: 0;
    font-size: 14px;
    border-bottom: 3px solid #771919;
    padding: 6px 20px;}

.btn-warning-custom:active{
    border: 0;
    position: relative; top: 3px; 
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;}

/*USER OPTIONS*/
.user-option-holder{height: 35px; display: inline-block; cursor: pointer; float: right; margin: 30px 10px 0 0;}

.user-option-holder:hover div.user-name{max-width: 300px;}
div.user-name{
    display: inline-block;
    background: #dfdfdf url("../img/icon_user_name1.png") no-repeat;
    height: 35px;
    min-width: 35px; max-width: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
    overflow: hidden;
    transition: all 1s ease-in-out;
    padding: 0;}

div.user-name span{
    padding: 0 35px; 
    line-height: 35px; 
    overflow-y: hidden;
    color: #c7282a;}

div.user-options{
    display: inline-block;
    height: 35px;
    background: #c7282a url("../img/icon_arrows_user.png") no-repeat 1px -35px;
    width: 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;}

.dropdown-menu.user-dropdown {
    margin: 0;
    top: 100%;
    /*    -webkit-box-shadow: none; box-shadow: none;*/
    background: #c7282a;
    border: 0;
    border-top-right-radius: 0;
    padding: 10px;}

.open .user-options{border-bottom-right-radius: 0; background: #c7282a url("../img/icon_arrows_user.png") no-repeat 1px 0px;}

.user-dropdown a{
    display: block;
    color: #dfdfdf;
    background: transparent url("../img/icon_user_avatar.png") no-repeat  0 -35px;
    padding: 8px 10px 7px 60px;
    text-align: right;
    border-radius: 4px;
}

.user-dropdown a:hover{
    background: #aa2325 url("../img/icon_user_avatar.png") no-repeat;
    color: #fff;
}

/*bit-data*/
.bit-data{float: left; margin: 10px 0 0 50px;}
.bit-data-holder{width: 80px; display: inline-block; margin-right: 16px;}
.bit-data table{width: 100%; background: #dfdfdf; text-align: center;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.bit-data table .up{height: 40px; background: red;}
.bit-data table .down{height: 30px;}
.bit-data table .down td{position: relative;}
span.data-arrow{border: 6px solid transparent; border-bottom: 6px solid #dfdfdf; position: absolute;top: -12px; left: 34px}

.bit-data table .data-atms{background: rgba(59, 149, 210, 0.15); color: #3b95d2; border-top: 3px solid #3b95d2;}
.bit-data table .data-groups{background: rgba(227, 123, 37, 0.15); color: #e37b25; border-top: 3px solid #e37b25;}
.bit-data table .data-clients{background: rgba(149, 90, 164, 0.15); color: #955aa4; border-top: 3px solid #955aa4;}
.bit-data table .data-promos{background: rgba(78, 184, 109, 0.15); color: #4eb86d; border-top: 3px solid #4eb86d;}
.bit-data table .data-impressions{background: rgba(52, 73, 92, 0.15); color: #34495c; border-top: 3px solid #34495c;}

/*main-menu*/
.main-menu{margin: 90px 10px; position: absolute; top: 0;}
.main-menu tr{height: 50px; width: 90px; margin-bottom: 5px; background: #e8e8e8 url("../img/main_menu_border.png") no-repeat 80px -50px; display: table; text-align: center; border-left: 3px solid #e8e8e8; cursor: pointer;}
.main-menu tr:hover{border-left: 3px solid #c7282a;background: #e8e8e8 url("../img/main_menu_border.png") no-repeat 80px 0px;}
.main-menu tr:hover a{color: #c7282a;}
.main-menu a{padding: 0 10px; display: block;}

/*accordion*/
.acc-trigger{
    height: 50px; 
    background: #eef3f5 url("../img/icon_arrows_accordion.png") no-repeat no-repeat right bottom -50px; 
    line-height: 50px; 
    border-radius: 0;
    outline: 0; 
    padding: 0 10px; 
    margin-bottom: 2px; 
    cursor: pointer;}

.ui-accordion-header-active{
    background: #dfdfdf url("../img/icon_arrows_accordion.png") no-repeat right bottom;}

.acc-holder{overflow-y: scroll; overflow-x: hidden; border-left: 10px solid #fff; height: 200px;}
.acc-item{position: relative;}
.acc-item-options{position: absolute; top: 0; right: 30px; display: inline-block; float: right;}
.acc-item-options .checkbox{margin: 15px 0 0 10px; display: inline-block;}


/*miscellaneous*/
.main-content-holder{padding: 90px 10px 0 110px; background: #eef3f5;}

.page-header {background: #e8e8e8; line-height: 50px; padding: 0 10px; margin: 0 0 10px 0; border: 0; border-radius: 4px;}
.subheading{background: #c7282a; color: #fff; line-height: 50px; padding: 0 10px;border-top-right-radius: 4px;border-top-left-radius: 4px; position: relative;}
.white-canvas{background: #fff; border-right: 10px solid #ecf0f0;}
.subheading-shadow{ border: 5px solid transparent; border-left: 5px solid #771919; border-top: 5px solid #771919;
                    display: inline-block;
                    position: absolute;bottom: -10px;right: 0;}
.subheading-icon{float: right;}

.left_half{width: 50%; float: left; border-right: 5px solid  #ecf0f0; display: inline-block}
.right_half{width: 50%; float: right; border-left: 5px solid  #ecf0f0; display: inline-block; margin-left: -4px;}
a.logo{margin: 25px 0 0 20px; float: left;}

::-webkit-scrollbar {width: 10px;} 
::-webkit-scrollbar-track {background: transparent; border-radius: 0;}
::-webkit-scrollbar-thumb {border: 2px solid #fff; border-radius: 0; background: #eef3f5;-webkit-box-shadow: none; }

/*checkbox-and-radio*/
.radio label, .checkbox label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 30px;  
    margin-right: 15px;  
    font-size: 14px;  
}  
.radio input[type=radio] {  
    display: none;  
} 
.radio label:before, .checkbox label:before {  
    content: "";  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    border: 2px solid #8b8b8b;   
}  
.radio label:hover:before{
    border: 2px solid #c7282a;    
}
.radio label:before {  
    border-radius: 10px;  
}  
.radio input[type=radio]:checked + label:before {  
    content: "\2022";  
    border: 2px solid #c7282a;
    color: #c7282a;  
    font-size: 34px;  
    text-align: center;  
    line-height: 16px;  
} 
input[type=checkbox]{display: none;} 
.checkbox label:before {border-radius: 0; border: 2px solid #8b8b8b;}
.checkbox label:hover:before{border: 2px solid #c7282a;}
input[type=checkbox]:checked + label:before {  
    content: "\2713";   
    font-size: 30px;  
    border: 2px solid #c7282a;
    color: #c7282a;  
    text-align: center;  
    line-height: 15px;  
}


.acc-table-header{background: #eef3f5;}
.table>tbody>tr>td {padding: 8px;vertical-align: top; border-top: 1px solid #eef3f5; padding-bottom: 7px;}
.table>tbody>tr:nth-of-type(2)>td{border: 0;}
.table{margin: 0; }
.options{background: #eef3f5; border: 1px solid #fff!important; width: 82px;}
.options span{display: inline-block; width: 30px; vertical-align: middle; min-height: 20px; cursor:pointer;}
.options .edit{background: url("../img/icon_edit.png") no-repeat;}
.options .edit:hover{background: url("../img/icon_edit.png") no-repeat 0 -20px;}
.options .delete{background: url("../img/icon_delete.png") no-repeat;}
.options .delete:hover{background: url("../img/icon_delete.png") no-repeat 0 -20px;}


.tabs-custom .nav-tabs {border-bottom: 2px solid #eef3f5;}
.tabs-custom .tab-content>.active{background: #fff;}
.tabs-custom .nav>li>a, .tabs-custom .nav>li>a:hover {
    border-top: 3px solid #fff; border-right: 2px solid #eef3f5; border-bottom: 0px; border-left: 0; background: #fff; }

.tabs-custom .nav>li>a:hover{color: #c7282a;}

.tabs-custom .nav>li.active>a,.tabs-custom .nav>li.active>a:focus{
    border-top: 3px solid #c7282a; 
    color: #c7282a;
    padding-bottom: 13px;
    position: relative;
    margin-bottom: -1px;
    border-bottom: 0;}

.tabs-custom .nav>li{width: 15%; text-align: center;}

